@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-border {
    box-shadow: inset 10px -10px 25px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.1);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
    -o-box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
    border-radius: 25px;
  }

  .shadow-text {
    text-shadow: 0 0 5px #0f766e, 0 0 10px #0f766e, 0 0 15px #0f766e,
      0 0 20px #0f766e, 0 0 35px #0f766e, 0 0 40px #0f766e;
  }
}

.router-link-active > .menu,
.router-link-active > .tabs {
  @apply shadow-text;
}

body {
  @apply font-serif text-white bg-cover bg-center bg-no-repeat bg-fixed;
  background-color: #141416;
  background-image: url('/src/assets/bg.jpg');
}

[role='link']:hover {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.cls-1 {
  fill: #f0b90b;
  stroke: #f0b90b;
}

.neon {
  text-shadow: 0px 0px 10px rgb(15 118 110), 0px 0px 20px rgb(15 118 110),
    0px 0px 30px rgb(15 118 110), 0px 0px 40px rgb(15 118 110),
    0px 0px 50px rgb(15 118 110), 0px 0px 60px rgb(15 118 110),
    0px 0px 70px rgb(15 118 110);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  border-radius: 20px;
}
